.btn {
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  border-style: solid;
}

.btn img {
  height: 1rem;
  width: auto;
  margin-bottom: 0px;
  margin-left: 0.5rem;
}

.btn:hover {
  cursor: pointer;
}

.btn--blue {
  border-color: var(--illiniDarkBlue);
  background-color: var(--white);
}
.btn--blue:hover {
  border-color: var(--illiniOrange);
}
.btn--blue--bg {
  background: var(--illiniDarkBlue);
  border-color: var(--illiniDarkBlue);
  color: var(--white);
}

.btn--blue--bg:hover {
  background: var(--white);
  border-color: var(--illiniDarkBlue);
  color: var(--illiniDarkBlue);
}

.btn--blue--bg--orange--border {
  background: var(--illiniDarkBlue);
  border-color: var(--illiniOrange);
  color: var(--white);
}

.btn--blue--bg--orange--border:hover {
  background: var(--white);
  border-color: var(--illiniOrange);
  color: var(--illiniDarkBlue);
}

.btn--grey {
  border-color: var(--lightGrey);
  background-color: var(--white);
}
.btn--grey:hover {
  border-color: var(--illiniOrange);
}

.btn--grey--bg {
  border-color: var(--white);
  background-color: var(--darkGrey);
  color: var(--illiniDarkBlue);
}
.btn--grey--bg:hover {
  background-color: var(--white);
  border-color: var(--darkGrey);
}

.btn--orange {
  border-color: var(--illiniOrange);
  background-color: var(--white);
}
.btn--orange:hover {
  border-color: var(--illiniDarkBlue);
}

.btn--transparent {
  border-color: var(--illiniDarkBlue);
}
.btn--transparent:hover {
  border-color: var(--illiniOrange);
}

.btn--white {
  border-color: var(--white);
  background-color: var(--white);
}
.btn--white:hover {
  border-color: var(--illiniOrange);
}

.btn--large {
  padding: 5px 10px;
}

.btn--square {
  padding: 12px;
}

.btn--small {
  padding: 3px 5px;
}
